In [2]:
# Importons les packages necessaire
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Importons la base donnée
df=pd.read_csv('assurance1.csv',sep=',')
df.head()

,cle,nbmaisons,nbpers_au_foyer,type_client,catholique,protestant,autre_religion,sans_religion,marie,concubin,...,auto0,assur_sante_public,assur_sante_prive,revenu1,revenu2,revenu3,revenu4,revenu5,revenu_moyen,pouvoir_achat
0,1,1,3,8,0,5,1,3,7,0,...,1,8,1,0,4,5,0,0,4,3
1,2,1,2,8,1,4,1,4,6,2,...,2,6,3,2,0,5,2,0,5,4
2,3,1,2,8,0,4,2,4,3,2,...,2,9,0,4,5,0,0,0,3,4
3,4,1,3,3,2,3,2,4,5,2,...,0,7,2,1,5,3,0,0,4,4
4,5,1,4,10,1,4,1,4,7,1,...,1,5,4,0,0,9,0,0,6,3