#### Importation des librairies

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

#### Aperçu des données

In [5]:
# Chemin du fichier input
input_path = 'C:/Users/Visiteur/Desktop/Projets Data/data-science-portfolio/Scoring-et-Segmentation-Client/data/assurance1.csv'

# Chargement des données
df = pd.read_csv(input_path, sep=',',header=0,index_col=0)

# Visualisons les premieres lignes
df.head()

,nbmaisons,nbpers_au_foyer,type_client,catholique,protestant,autre_religion,sans_religion,marie,concubin,autre_relation,...,auto0,assur_sante_public,assur_sante_prive,revenu1,revenu2,revenu3,revenu4,revenu5,revenu_moyen,pouvoir_achat
cle,,,,,,,,,,,,,,,,,,,,,
1,1,3,8,0,5,1,3,7,0,2,...,1,8,1,0,4,5,0,0,4,3
2,1,2,8,1,4,1,4,6,2,2,...,2,6,3,2,0,5,2,0,5,4
3,1,2,8,0,4,2,4,3,2,4,...,2,9,0,4,5,0,0,0,3,4
4,1,3,3,2,3,2,4,5,2,2,...,0,7,2,1,5,3,0,0,4,4
5,1,4,10,1,4,1,4,7,1,2,...,1,5,4,0,0,9,0,0,6,3

#### Dimension de la base de donnée

In [8]:
print(f"il y'a : {df.shape[0]} individus et {df.shape[1]} variables dans notre base")

il y'a : 5822 individus et 36 variables dans notre base

#### Liste des colonnes et leurs types

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5822 entries, 1 to 5822
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nbmaisons           5822 non-null   int64
 1   nbpers_au_foyer     5822 non-null   int64
 2   type_client         5822 non-null   int64
 3   catholique          5822 non-null   int64
 4   protestant          5822 non-null   int64
 5   autre_religion      5822 non-null   int64
 6   sans_religion       5822 non-null   int64
 7   marie               5822 non-null   int64
 8   concubin            5822 non-null   int64
 9   autre_relation      5822 non-null   int64
 10  celibataire         5822 non-null   int64
 11  sans_enfant         5822 non-null   int64
 12  avec_enfant         5822 non-null   int64
 13  niv_etude_haut      5822 non-null   int64
 14  niv_etud_moy        5822 non-null   int64
 15  niv_etud_bas        5822 non-null   int64
 16  PCStop              5822 non-null   int64
 17  PCScadre            5822 non-null   int64
 18  PCSagri             5822 non-null   int64
 19  PCSinter            5822 non-null   int64
 20  PCSouvr_quali       5822 non-null   int64
 21  PCSouvr             5822 non-null   int64
 22  locataire           5822 non-null   int64
 23  proprietaire        5822 non-null   int64
 24  auto1               5822 non-null   int64
 25  auto2               5822 non-null   int64
 26  auto0               5822 non-null   int64
 27  assur_sante_public  5822 non-null   int64
 28  assur_sante_prive   5822 non-null   int64
 29  revenu1             5822 non-null   int64
 30  revenu2             5822 non-null   int64
 31  revenu3             5822 non-null   int64
 32  revenu4             5822 non-null   int64
 33  revenu5             5822 non-null   int64
 34  revenu_moyen        5822 non-null   int64
 35  pouvoir_achat       5822 non-null   int64
dtypes: int64(36)
memory usage: 1.6 MB

#### Statistiques descriptive globale

In [12]:
df.describe()

,nbmaisons,nbpers_au_foyer,type_client,catholique,protestant,autre_religion,sans_religion,marie,concubin,autre_relation,...,auto0,assur_sante_public,assur_sante_prive,revenu1,revenu2,revenu3,revenu4,revenu5,revenu_moyen,pouvoir_achat
count,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,...,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000,5822.000000
mean,1.110615,2.678805,5.773617,0.696496,4.626932,1.069907,3.258502,6.183442,0.883545,2.290450,...,1.959464,6.277053,2.728959,2.573686,3.536070,2.731364,0.796118,0.202679,3.784438,4.236345
std,0.405842,0.789835,2.856760,1.003234,1.715843,1.017503,1.597647,1.909482,0.965924,1.722645,...,1.599714,1.978675,1.981893,2.086099,1.882656,1.927738,1.162829,0.551557,1.317783,2.007150
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,2.000000,3.000000,0.000000,4.000000,0.000000,2.000000,5.000000,0.000000,1.000000,...,1.000000,5.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,3.000000,3.000000
50%,1.000000,3.000000,7.000000,0.000000,5.000000,1.000000,3.000000,6.000000,1.000000,2.000000,...,2.000000,7.000000,2.000000,2.000000,4.000000,3.000000,0.000000,0.000000,4.000000,4.000000
75%,1.000000,3.000000,8.000000,1.000000,6.000000,2.000000,4.000000,7.000000,1.000000,3.000000,...,3.000000,8.000000,4.000000,4.000000,5.000000,4.000000,1.000000,0.000000,4.000000,6.000000
max,10.000000,5.000000,10.000000,9.000000,9.000000,5.000000,9.000000,9.000000,7.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,8.000000

#### Distribution des valeurs manquantes par colonne

In [13]:
missing_ratio = df.isnull().mean() * 100
print(missing_ratio.sort_values(ascending=False))

nbmaisons             0.0
nbpers_au_foyer       0.0
PCSouvr_quali         0.0
PCSouvr               0.0
locataire             0.0
proprietaire          0.0
auto1                 0.0
auto2                 0.0
auto0                 0.0
assur_sante_public    0.0
assur_sante_prive     0.0
revenu1               0.0
revenu2               0.0
revenu3               0.0
revenu4               0.0
revenu5               0.0
revenu_moyen          0.0
PCSinter              0.0
PCSagri               0.0
PCScadre              0.0
concubin              0.0
type_client           0.0
catholique            0.0
protestant            0.0
autre_religion        0.0
sans_religion         0.0
marie                 0.0
autre_relation        0.0
PCStop                0.0
celibataire           0.0
sans_enfant           0.0
avec_enfant           0.0
niv_etude_haut        0.0
niv_etud_moy          0.0
niv_etud_bas          0.0
pouvoir_achat         0.0
dtype: float64

#### L'occurence des variables

In [19]:
# liste des variables
col=df.columns.tolist()

# On affiche l'occurence de chaque variable
for col in col: # on parcour la liste de nos variables

    print(df[col].value_counts(),'\n')

1     5267
2      505
3       39
7        5
4        2
10       1
5        1
8        1
6        1
Name: nbmaisons, dtype: int64

3    2646
2    2131
4     693
1     284
5      68
Name: nbpers_au_foyer, dtype: int64

8     1563
3      886
9      667
5      569
1      552
7      550
2      502
10     276
6      205
4       52
Name: type_client, dtype: int64

0    3228
1    1599
2     733
3     152
4      66
5      18
6      13
7       6
9       4
8       3
Name: catholique, dtype: int64

4    1607
5    1501
6     714
3     590
7     564
2     396
9     173
1     134
0      78
8      65
Name: protestant, dtype: int64

1    2014
0    2003
2    1388
3     257
4     132
5      28
Name: autre_religion, dtype: int64

3    1453
4    1334
2    1055
5     963
0     456
1     230
6     217
7     101
9       8
8       5
Name: sans_religion, dtype: int64

7    1683
6    1172
5     946
9     794
8     361
4     324
3     246
2     157
1      75
0      64
Name: marie, dtype: int64

0    2448
1    2030
2    1075
3     159
4      78
5      18
6      13
7       1
Name: concubin, dtype: int64

2    1756
0    1173
3    1152
4     648
1     539
5     266
6     179
7      64
9      24
8      21
Name: autre_relation, dtype: int64

0    1757
2    1247
1     951
3     848
4     519
5     259
6     127
7      67
8      24
9      23
Name: celibataire, dtype: int64

3    1498
4    1455
2    1060
5     606
1     372
0     371
6     321
7      96
9      29
8      14
Name: sans_enfant, dtype: int64

4    1137
5    1106
3     973
6     783
2     635
7     351
1     292
8     206
9     186
0     153
Name: avec_enfant, dtype: int64

0    2147
1    1322
2    1144
3     547
4     326
5     187
6      67
7      51
8      22
9       9
Name: niv_etude_haut, dtype: int64

4    1426
3    1330
2     937
5     738
0     423
1     383
6     348
7     157
9      43
8      37
Name: niv_etud_moy, dtype: int64

5    1009
6     856
4     851
3     680
2     667
7     640
9     323
0     299
8     254
1     243
Name: niv_etud_bas, dtype: int64

0    1524
2    1364
1    1245
3     756
4     397
5     249
6     138
7      92
9      31
8      26
Name: PCStop, dtype: int64

0    4171
1    1202
2     348
5      52
3      37
4      12
Name: PCScadre, dtype: int64

0    4176
1     854
2     487
3     143
4      77
5      59
6      14
8       5
9       4
7       3
Name: PCSagri, dtype: int64

2    1491
3    1394
4     953
0     667
5     431
1     403
6     211
7     178
9      80
8      14
Name: PCSinter, dtype: int64

2    1382
0    1167
3    1167
1     921
4     604
5     310
6     169
7      68
8      24
9      10
Name: PCSouvr_quali, dtype: int64

2    1439
3    1109
1     980
0     968
4     772
5     331
6     122
7      66
9      26
8       9
Name: PCSouvr, dtype: int64

0    949
9    760
2    717
3    593
8    532
5    519
4    517
1    428
7    425
6    382
Name: locataire, dtype: int64

9    949
0    760
7    724
6    604
1    530
5    520
4    499
8    428
2    426
3    382
Name: proprietaire, dtype: int64

6    1663
7    1413
5    1210
9     505
4     448
8     261
3     231
2      58
0      19
1      14
Name: auto1, dtype: int64

0    1854
2    1748
1    1468
3     385
4     301
5      56
6       9
7       1
Name: auto2, dtype: int64

2    1625
0    1450
3    1066
1     776
4     587
5     174
6      89
7      25
9      17
8      13
Name: auto0, dtype: int64

7    1511
5     974
6     875
9     852
8     699
4     357
2     307
3     177
0      55
1      15
Name: assur_sante_public, dtype: int64

2    1511
4     992
0     852
3     849
1     699
5     364
7     307
6     178
9      55
8      15
Name: assur_sante_prive, dtype: int64

0    1304
2    1094
3    1079
1     630
4     599
5     568
6     293
7     156
9      51
8      48
Name: revenu1, dtype: int64

4    1356
3    1147
5     931
2     919
0     465
6     406
1     268
7     205
9      90
8      35
Name: revenu2, dtype: int64

3    1215
2    1165
4    1034
0     891
1     657
5     498
6     125
7      93
9      91
8      53
Name: revenu3, dtype: int64

0    3246
1    1359
2     736
3     246
4     147
5      71
6       8
9       4
8       4
7       1
Name: revenu4, dtype: int64

0    4900
1     763
2      96
3      36
4      24
9       1
5       1
7       1
Name: revenu5, dtype: int64

3    1932
4    1854
5     733
2     651
6     355
7     131
8      70
1      49
0      25
9      22
Name: revenu_moyen, dtype: int64

3    1524
4     902
6     901
1     587
5     583
7     474
8     426
2     425
Name: pouvoir_achat, dtype: int64